<div class="page">
  <h1>{{ topic.name }}</h1>
  <ul>
    <li ng-repeat="thread in threads">
      <a ui-sref="thread({threadId: thread._id})">{{ thread.content }}</a>
	  </br>
      Autor vlákna: {{ thread.author }}
	  </br>
	  Vytvořeno: {{ thread.createdAt | date:'d.M.yyyy HH:mm' }}
    </li>
  </ul>
  <div class="create">
	  <h2>Vytvořit nové vlákno</h2>
	  <form ng-submit="createThread(thread)">
		<input type="text" placeholder="Titulek vlákna" ng-model="thread.content">
		</br>
		<button type="submit">Odeslat</button>
	  </form>
  </div>
</div>